body {
  background-color: rgb(224, 224, 224);
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  padding-top: 30px;
}

p {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 2.5rem;
  padding-top:0;
}


#search {
    margin: 50px auto 50px auto;
}

#search_bar {
    padding: 10px;
    margin: auto;
    font-size: 1rem;
    border: 1px solid grey;
    height: 50px;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
#search_btn {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    height: 50px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0;
    cursor: pointer;
  }
  
#search_bar button:hover {
    background: #0b7dda;
  }
  
#search_bar::after {
    content: "";
    clear: both;
    display: table;
  }

img {
  max-height: 200px;
  max-width: auto;
  min-height: 200px;
  min-width: auto;
}

#table {
  padding-bottom: 100px;
}

