{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Story8</title>
    <script src="{% static 'googleBooksScript.js' %}"></script>
</head>
<body>
    <h1>MY EIGHTH STORY</h1>
    <p>Google Books API</p>
    <div class="row">
        <div class="container" id="search">
            <input id="search_bar" type="text" placeholder="Search..">
            <button id="search_btn" class="btn btn-dark"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="container" id="table">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Num.</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Cover</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</body>
</html>